
/****************************
*   FONTS      *
****************************/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,100italic,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,400,300);

/****************************
*   FOR RESPONSIVENESS      *
****************************/
::selection {
    background: #4f5362;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: #4f5362;
    /* Gecko Browsers */
    color: #fff;
}

html {
    font-size: 14px;
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 17px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {

    .name-Section {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    p {
        font-size: 14px;
        margin-bottom: 1.8em;
    }
}

/****************************
*      BOOTSTRAP OVERRIDE  *
****************************/

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: inherit;
    height: 20px;
    width: 20px;
}

label {
    font-size: 13px;
}



.panel-default > .panel-heading {
    color: #000000;
    background-color: #ededed;
    border-color: #bcbcbc;
}


.panel {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    /*    border: 0;*/
    /*    border-radius: 0;*/
    /*    -webkit-box-shadow: none;*/
    /*    box-shadow: none;*/
}

.panel-body.bk-primary.text-light.fixed-height-panel:hover {
    background: #140c00; /* Old browsers */
    background: -moz-linear-gradient(top, #140c00 0%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #140c00 0%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #140c00 0%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140c00', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

.fixed-height-panel {
    min-height: 70px;
    max-height: 70px;
    overflow: hidden;
}

.fixed-height-panel-with-icon {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #29abe0;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #fff3e5;
}


.panel {
    width: 100%;
    height: 100%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.form-group {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}


textarea.form-control {
    min-height: 25px;
}




/*---- buttons ------*/

.btn {
    font-family: 'Lato', sans-serif;
    border: none;
    font-size: 15px;
    height: 30px;
    line-height: 0;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 12px 16px;
    border-radius: 4px;
    -webkit-user-select: none;
}

.btn-small {
    font-weight: 300;
    font-size: 13px;
    line-height: 2px;
    padding: 10px;
    height: 30px;
}

.btn-sm {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 8px;
    height: 25px;
}

.btn i {
    position: relative;
    top: 0;
}

.btn.text-left {
    text-align: left;
}

.btn-brand {
    background: #37a6c4;
    color: #fff;
}

    .btn-brand:hover {
        color: #fff;
        background: #2c849c;
    }

.btn-default {
    background-color: #fcfcfc;
    color: #000;
    border: 1px solid #c4c4c4;
}


    .btn-default:hover {
        background: #f3f3f3;
        color: #000000;
    }


.btn-dark {
    background: #272727;
    color: #fff;
}

    .btn-dark:hover {
        color: #fff;
        background: #2c849c;
    }

.btn-red {
    background: #4f5362;
    color: #fff;
}

    .btn-red:hover {
        color: #fff;
        background: #383b46;
    }

.btn-alt {
    background: #f0f0f0;
    color: #222;
}

    .btn-alt:hover {
        color: #fff;
        background: #2c849c;
    }

.btn-primary {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

    .btn-primary:focus, .btn-primary.focus {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2);
    }

.btn-xs {
    font-size: 10px;
    padding: 2px 10px !important;
    line-height: 1.5;
    height: auto;
}

/****************************
*      BODY DEFAULTS        *
****************************/
html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    height: 100%;
}

a {
    color: #37a6c4;
}

    a:hover {
        text-decoration: none;
        color: #5db9d1;
    }

.row {
    margin: 0;
}

table {
    font-size: 13px !important;
}

textarea {
    resize: vertical;
}

.panel-body {
    padding: 15px 0 15px 0;
}

.selector-container-div {
    background: #f3f3f3;
}

.selector-container, content-container {
    min-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background: transparent;
}

.listSelect {
    padding: 0;
}

    .listSelect option {
        padding: 5px 5px;
        border-bottom: 1px solid #f0f0f0;
    }

        .listSelect option:hover {
            background: #cbd6f9;
        }


.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


.starStyle {
    color: #ff0000 !important;
}


/*.nestedTable  td {
    border-top: none;
    border-right: 1px solid #ddd ;
}*/

td > .form-control {
    padding: 3px !important;
    font-size: 12px !important;
}

.table thead > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: none;
    background-color: aliceblue;
}

.table tbody > tr > th, .table tbody > tr > td {
    padding: 4px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: none;
}

/*    .table tbody > tr > th > button, .table tbody > tr > td > button, .gridButton {*/
/*        padding: 0 !important;*/
/*    }*/


.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

    .table-fixed tbody td, .table-fixed thead > tr > th {
        float: left;
        border-bottom-width: 0;
    }


.table-font-12 tbody > tr > td {
    font-size: 12px;
}


.gray {
    background-color: rgb(228, 224, 224);
}

.grn {
    color: #fff;
    font-weight: bold;
    background: #5cb85c;
}

.brn {
    color: white;
    font-weight: bold;
    background: #FF8C00;
}

.blu {
    color: white;
    font-weight: bold;
    background: #115aa0;
}

.blk {
    color: white;
    font-weight: bold;
    background: #483D8B;
}



.ylo {
    color: #fff;
    font-weight: bold;
    background: #f0ad4e;
}

.red {
    color: white;
    font-weight: bold;
    background: #d9534f;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.borderLess {
    border: none;
}

/****************************
*     Paddings        *
****************************/

.padding-left {
    padding-left: 25px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}


.padding-right {
    padding-right: 25px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}


/****************************
*      Background Colors        *
****************************/
.bk-primary {
    background: #213c64; /* Old browsers */
    background: -moz-linear-gradient(top, #213c64 0%, #0d133f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #213c64 0%,#0d133f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #213c64 0%,#0d133f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#140c00',GradientType=0 ); /* IE6-9 */
}

.bk-success {
    background: #93c54b;
}

.bk-warning {
    background: #f47c3c;
}

.bk-danger {
    background: #d9534f;
}

.bk-info {
    background: #29abe0;
}

.bk-white,
.bk-light {
    background: rgb(235, 237, 255);
    -webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.37);
}

.bk-brand {
    background: #37a6c4;
}

.bk-dark {
    background: #222;
}

.bk-blue {
    background: #0010ce;
}

.bk-alt {
    background: #f7f7f7;
}

.bk-ghost {
    background: transparent;
}

.bk-img {
    /*position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;*/
    /*background: url(/Content/Images/ceramic.jpg);*/
    /*background: url(/Content/Images/tiles1.jpg);*/
    /*background: url(/Content/Images/tiles2.jpg);*/
    /*background: url(/Content/Images/tiles3.jpg);*/
    /*background: url(/Content/Images/tiles4.jpg);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ca1ce+0,7b84ce+100 */
    background: #9ca1ce; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9ca1ce 0%, #7b84ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #9ca1ce 0%,#7b84ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #9ca1ce 0%,#7b84ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ca1ce', endColorstr='#7b84ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: repeat;
}

.bk-fixed {
    background-attachment: fixed;
}

.hr-green {
    height: 2px;
    background: #37a6c4;
}

.hr-grey {
    height: 2px;
    background: #f0f0f0;
}

.hr-dashed {
    background-color: transparent;
    border-top: 1px dotted #edf0f5;
    color: transparent;
    height: 1px;
    margin: 20px 0;
}

.panel {
    overflow: hidden;
}
/****************************
*      Border        *
****************************/
.brdr {
    border: 1px solid #f0f0f0;
}

.md-bodr-right {
    border-right: 5px solid #05337c;
}

.md-bodr-left {
    border-left: 5px solid #05337c;
}

.md-bodr-top {
    border-top: 5px solid #05337c;
}

.md-bodr-buttom {
    border-bottom: 5px solid #05337c;
}

.border-green {
    /*border:2px solid #0c874c;*/
    border: 0;
}


.border-light-green {
    border: 2px solid #0fb566;
}
/****************************
*      Text size color        *
****************************/
.font-one {
    font-family: 'Oswald', sans-serif;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-thin {
    font-weight: 100;
}

.text-lowercase {
    text-transform: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-sm {
    font-size: 13px;
}

.text-md {
    font-size: 15px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 1.6em;
}

.text-2x {
    font-size: 2em;
}

.text-3x {
    font-size: 2.4em;
}

.text-4x {
    font-size: 3em;
}

.text-white,
.text-light {
    color: #b8dbe4 !important;
    /*color: #001e4e !important;*/
    font-size: 15px;
    vertical-align: middle;
    line-height: 20px;
    font-weight: 700;
}

.link-white a {
    color: #fff;
}

.text-grey {
    color: #ccc;
}

.text-dgrey {
    color: #818181;
}

.text-brand {
    color: #37a6c4;
}

.text-yellow {
    color: #ffff00;
}

.title .line {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.text-center-vertical {
    height: 30px;
    line-height: 30px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
/****************************
*       Margins         *
****************************/
.mt {
    margin-top: 18px;
}

.mt-0x {
    margin-top: 0 !important;
}

.mt-2x {
    margin-top: 36px;
}

.mt-3x {
    margin-top: 60px;
}

.mt-4x {
    margin-top: 90px;
}

.mt-5x {
    margin-top: 144px;
}

.mb {
    margin-bottom: 18px;
}

.mb-0x {
    margin-bottom: 0 !important;
}

.mb-2x {
    margin-bottom: 36px;
}

.mb-3x {
    margin-bottom: 54px;
}

.mb-4x {
    margin-bottom: 90px;
}

.mb-5x {
    margin-bottom: 144px;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt {
    padding-top: 18px;
}

.pt-2x {
    padding-top: 48px;
}

.pt-3x {
    padding-top: 54px;
}

.pt-4x {
    padding-top: 90px;
}

.pt-5x {
    padding-top: 144px;
}

.pb {
    padding-bottom: 18px;
}

.pb-2x {
    padding-bottom: 36px;
}

.pb-3x {
    padding-bottom: 54px;
}

.pb-4x {
    padding-bottom: 90px;
}

.pb-5x {
    padding-bottom: 144px;
}

.pb-200 {
    padding-bottom: 200px;
}

.padding-right-zero {
    padding-right: 0;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-left-right-zero {
    padding-right: 0;
    padding-left: 0;
}



.pl {
    padding-left: 18px;
}
/* Content boxes */
.content-box {
    padding: 15px;
}

.block-anchor {
    display: block;
}
/****************************
*       Content Typography         *
****************************/
.heading {
    color: #0c874c;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #0c874c;
}

.panel-heading {
    font-family: 'Lato', 'sans-serif';
    padding: 8px 10px;
    font-size: 15px;
}

.menuList {
    font-size: 13px;
    font-weight: 700;
    padding-left: 15px;
}

.content-format {
    line-height: 1.6em;
    font-weight: 400;
    letter-spacing: .01em;
    font-style: normal;
    word-wrap: break-word;
}

    .content-format .h1,
    .content-format .h2,
    .content-format .h3,
    .content-format .h4,
    .content-format .h5,
    .content-format .h6,
    .content-format h1,
    .content-format h2,
    .content-format h3,
    .content-format h4,
    .content-format h5,
    .content-format h6 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-weight: bold;
        font-style: normal;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 40px;
    }

        .content-format .h1 a,
        .content-format .h2 a,
        .content-format .h3 a,
        .content-format .h4 a,
        .content-format .h5 a,
        .content-format .h6 a,
        .content-format h1 a,
        .content-format h2 a,
        .content-format h3 a,
        .content-format h4 a,
        .content-format h5 a,
        .content-format h6 a {
            font-size: inherit;
        }

    .content-format .h2,
    .content-format h2 {
        font-size: 3em;
        line-height: 1;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 4px solid #f0f0f0;
    }

    .content-format .h3,
    .content-format h3 {
        font-size: 2em;
        line-height: 1.2;
        margin-bottom: 4px;
        margin: 1em 0 0.5em;
    }

    .content-format .h4,
    .content-format h4 {
        font-size: 1.7em;
        line-height: 1.4;
        margin-bottom: 6px;
    }

    .content-format .h5,
    .content-format h5 {
        font-size: 1.5em;
        line-height: 1.4;
        margin-bottom: 8px;
    }

    .content-format .h6,
    .content-format h6 {
        font-size: 1.3em;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .content-format strong {
        font-weight: bold;
    }

    .content-format ul:not(.social-awesome) {
        list-style: disc outside;
        margin: 1.714285714rem 0 1.714285714rem;
        line-height: 1.714285714;
    }

        .content-format ul:not(.social-awesome) li {
            margin: 0 0 0 36px;
            margin: 0 1rem 0 2.571428571rem;
        }

        .content-format ul:not(.social-awesome).list-unstyled {
            list-style: none;
        }

            .content-format ul:not(.social-awesome).list-unstyled li {
                margin: 0 0 0 24px;
            }

    .content-format em {
        font-style: italic;
    }

    .content-format p {
        margin-bottom: 1.8em;
    }

    .content-format figure {
        margin-bottom: 42px;
    }

        .content-format figure .caption {
            color: #999;
            font-size: 14px;
        }

    .content-format img {
        border: 0;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    .content-format .fa {
        color: #37a6c4;
        margin-right: 10px;
    }

    .content-format blockquote {
        border-left: 4px solid #c3c3c3;
        border-left: 4px solid rgba(51, 51, 51, 0.17);
        color: #707070;
        color: rgba(51, 51, 51, 0.7);
        font-size: 1.2em;
        font-style: italic;
        line-height: 1.6667;
        margin-bottom: 1em;
        padding-left: 0.7778em;
    }

        .content-format blockquote.double-quote {
            border-left: none;
            padding-left: 1em;
        }

    .content-format pre {
        background: #fff;
        border: 1px solid #ededed;
        color: #666;
        font-family: Consolas, Monaco, Lucida Console, monospace;
        font-size: .9em;
        line-height: 1.714285714;
        margin: 24px 0;
        margin: 1.714285714rem 0;
        overflow: auto;
    }

    .content-format ol {
        margin: 24px 0 24px;
        margin: 1.714285714rem 0 1.714285714rem;
        line-height: 1.714285714;
        list-style: decimal outside;
    }

    .content-format img.wp-smiley,
    .content-format img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
/*
 * Theme Struck - Harmony - Free responsive Bootstrap admin template by Themestruck.com (http://themestruck.com)
 * Code licensed under the MIT
 * For details, see #
 */
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Social Button Modifications */
.btn {
    text-transform: none;
}

.btn-social > :first-child {
    width: 42px;
    line-height: 46px;
}

.btn-social {
    padding-left: 58px;
}
/* Circle buttons */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 25px;
        font-size: 18px;
        line-height: 1.33;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }
/* Chart design */
/* Charts */
.chart-dot-list {
    display: block;
    margin-top: 60px;
    margin-left: 20px;
}

    .chart-dot-list li {
        margin-bottom: 4px;
    }

        .chart-dot-list li:before {
            content: '';
            height: 12px;
            width: 12px;
            margin-right: 6px;
            display: inline-block;
            background: #222;
            border-radius: 50%;
        }

        .chart-dot-list li.a1:before {
            background: #F7464A;
        }

        .chart-dot-list li.a2:before {
            background: #46BFBD;
        }

        .chart-dot-list li.a3:before {
            background: #FDB45C;
        }

.chart-doughnut {
    padding: 41px 0;
}
/* component */
.page-title {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.brand {
    background: #fff;
    position: relative;
    z-index: 3;
    position: fixed;
    height: 65px;
    width: 100%;
    top: 0;
}

    .brand .logo {
        box-sizing: border-box;
        padding: 0;
        float: left;
        display: block;
        width: 500px;
        height: inherit;
        margin-left: 10px;
        padding-top: 12px;
    }

@media only screen and (min-width: 992px) {
    .brand .logo {
        width: auto;
        padding-top: 12px;
        margin-left: 10px;
        height: inherit;
    }
}

.brand .logo img {
    height: 35px;
}

.brand .menu-btn {
    float: right;
    /* background: #232d3b; */
    text-align: center;
    cursor: pointer;
    color: #fff;
    padding: 15px;
}

@media only screen and (min-width: 992px) {
    .brand .menu-btn {
        display: none;
    }
}

.brand .ts-profile-nav {
    float: right;
    display: none;
}

    .brand .ts-profile-nav li {
        float: left;
        position: relative;
    }

        .brand .ts-profile-nav li a {
            display: block;
            padding: 20px;
            color: #001e4e;
            font-size: 15px;
        }

        .brand .ts-profile-nav li ul {
            visibility: hidden;
            opacity: 0;
            right: 0;
            position: absolute;
        }

            .brand .ts-profile-nav li ul li {
                float: none;
                width: 180px;
            }

                .brand .ts-profile-nav li ul li a {
                    padding: 10px 20px;
                    background: #001e4e;
                    color: #fff;
                }

                    .brand .ts-profile-nav li ul li a:hover {
                        padding: 10px 20px;
                        background: #1f3f72;
                    }

    .brand .ts-profile-nav .ts-account .fa-angle-down {
        float: right;
    }

    .brand .ts-profile-nav .ts-account > a {
        width: 180px;
        background: rgba(255, 255, 255, 0);
    }

    .brand .ts-profile-nav .ts-account .ts-avatar {
        border-radius: 50%;
        height: 28px;
        margin: -10px 0;
        margin-right: 10px;
    }

    .brand .ts-profile-nav .ts-account:hover ul {
        visibility: visible;
        opacity: 1;
    }

@media only screen and (min-width: 992px) {
    .brand .ts-profile-nav {
        display: block;
    }
}


.more i {
    color: #fff;
    padding: 15px;
    transition: transform 0.3s;
}

.more {
    float: right;
    min-width: 10%;
    cursor: pointer;
}

.ts-main-content .content-wrapper {
    background-color: #fff !important;
    /*padding-top: 10px;*/
    margin-top: 65px;
    min-height: 100vh;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 40px;
    z-index: 1;
}

.ts-main-content .dashboard-content-wrapper {
    margin-top: 45px;
    min-height: 100vh;
    height: auto;
    /* Negative indent footer by its height */
    /* Pad bottom by footer height */
    padding: 0 0 40px;
    z-index: 1;
}

@media only screen and (min-width: 992px) {
    .ts-sidebar {
        width: 60px;
        float: left;
    }

    .ts-main-content .ts-sidebar2 {
        float: right;
        width: 10px;
    }

    .ts-main-content .content-wrapper {
        margin-left: 60px;
    }

    .ts-main-content .dashboard-content-wrapper {
        margin-left: 0;
    }
}


.stat-panel {
    padding: 10px;
}


.slidable-table {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}


/****************************
*           Manu            *
****************************/

.ts-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.ts-sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.ts-sidebar::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
}

.ts-sidebar {
    background: #020202;
    max-height: 0;
    transition: max-height 0.3s;
    /*overflow: hidden;*/
    position: fixed;
    z-index: 99;
    bottom: 0;
    top: 60px;
    /*overflow-y: auto;*/
}

    .ts-sidebar .hidden-side {
        display: none;
    }

/*.ts-sidebar .ts-sidebar-search {
    width: 100%;
    background: #25292a;
    border: none;
    padding: 10px 15px;
    color: #fff;
  }*/

@media only screen and (min-width: 992px) {
    .ts-sidebar .ts-profile-nav {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .ts-sidebar {
        max-height: 100%;
        display: inline-block;
        bottom: 40px;
    }
}

.ts-sidebar-menu {
    /*width: 200px;*/
    display: block;
    overflow: hidden;
    overflow-y: hidden;
}

    .ts-sidebar-menu:hover {
        /*        width: 200px;*/
    }

    .ts-sidebar-menu .ts-label {
        color: #585c64;
        font-weight: bold;
        padding: 8px 15px;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: 10px;
    }

    /*.ts-sidebar-menu a {
  display: block;
  text-decoration: none;
  padding: 25px 18px;
  color: #fff;
}*/

    .ts-sidebar-menu a:hover {
        background: #013028 !important;
        /*border-left: 3px solid #cc0e12;*/
        padding: 15px 0;
        overflow: visible;
    }

    .ts-sidebar-menu a:active {
        background: #013028 !important;
    }

    .ts-sidebar-menu li {
        position: relative;
        display: block;
        width: auto;
    }


        .ts-sidebar-menu li > a {
            position: relative;
            display: table;
            text-decoration: none;
            font-size: 20px;
            padding: 15px 0;
            color: #fff;
            /*text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;*/
        }

            .ts-sidebar-menu li > a:active {
                background-color: #004d40;
            }

        .ts-sidebar-menu li i {
            position: relative;
            display: table-cell;
            width: 60px;
            height: 35px;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
            color: #ffffff;
        }

    .ts-sidebar-menu .nav-text {
        position: relative;
        display: table-cell;
        padding-left: 5px;
        vertical-align: middle;
        width: 190px;
    }

    /*.ts-sidebar-menu li i {
    color: #ffffff;
    margin-right: 10px;
  }*/

    .ts-sidebar-menu li ul {
        display: block;
        background: rgba(255, 0, 0, 0.12);
        background: rgba(0, 0, 0, 0.32);
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .menu-open,
    .ts-sidebar-menu .open > ul {
        max-height: 2000px;
    }

    .ts-sidebar-menu .open > a {
        background: rgba(51, 56, 62, 0.35);
    }

    .ts-sidebar-menu > .open > a {
        background: rgba(4, 151, 75, 0.78);
        border-left: 3px solid #cc0e12;
    }

    .ts-sidebar-menu .open > .more i {
        transform: rotate(180deg);
    }







/****************************
*       Footer         *
****************************/



.footer {
    width: 100%;
    height: 40px;
    background-color: #020202;
    color: #fff;
    z-index: 999;
    position: fixed;
}

    .footer p {
        padding-top: 0;
    }



/****************************
*        Login page          *
****************************/

.login-page {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0px 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #3e3f3a;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dfd7ca;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.login-Screen-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 3px 6px rgba(25, 31, 33, 0.35);
    color: #25283d;
    margin-top: 5px;
    padding-bottom: 10px;
}


.name-Section {
    text-align: center;
    position: absolute;
    left: 550px;
    top: 0;
    height: 60px;
    line-height: 60px;
    color: #20225a;
    font-size: 15px;
    font-weight: 700;
}


/****************************
*        Form           *
****************************/

.form-group.has-error .help-block {
    display: block;
}

.form-group .help-block {
    display: none;
    line-height: 5px;
    font-size: 10px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}



/****************************
*        Tooltip           *
****************************/

/*.tooltip {

/* Hover tooltips */



.fix-line-radio {
    padding-left: 30px;
    padding-top: 8px;
}



.selected {
    background-color: #bfcfeb;
}

.boxShadowDashboard {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*-webkit-box-shadow: 10px 10px;
     box-shadow: 10px 10px;*/
}

.boxShadowMenuItem {
    /*-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    -webkit-box-shadow: 5px 4px black;
    box-shadow: 5px 4px black;
}

.submenuItemBStyle {
    color: white !important;
    font-size: large !important;
    font-weight: 800 !important;
    text-shadow: 2px 2px 3px #040404;
}

.buttonItemBStyle {
    padding-top: 4px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 2px darkblue;
}

.buttonAddItem {
    width: 100% !important;
    margin-top: -20px !important;
    margin-bottom: 10px;
    font-weight: bold;
}

.menu-hover a {
    background-color: #013028;
}

/*================= Tooltip =================*/

.tooltip {
    z-index: 9999 !important;
    display: none;
    overflow-x: visible;
}

.tooltip-inner {
    font-size: 15px;
    background-color: #001e4e;
    z-index: 9999;
    height: 40px;
    line-height: 30px;
}

.tooltip.in {
    opacity: 1 !important;
}


/********************************************************************/
/***Tabbable PANEL PRIMARY ***/

.with-nav-tabs.panel-primary > .panel-heading {
    background-color: transparent !important;
    /*border-color: #428bca;*/
}


.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 0;
}

.panel.with-nav-tabs .panel-body {
    border: 1px solid #3071a9;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}



.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0;
    color: #fff;
    background-color: #3071a9;
    padding: 5px 15px;
}

    .with-nav-tabs.panel-primary .nav-tabs > .open > a,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
        color: #fff;
        background-color: #6495ED;
        border-color: transparent;
    }


.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #000000;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}

    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
        color: #fff;
    }

        .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
        .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
            background-color: #3071a9;
        }

    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
        background-color: #4a9fe9;
    }


.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

    .table-fixed tbody td, .table-fixed thead > tr > th {
        float: left;
        border-bottom-width: 0;
    }


.btn.btn-default.btn-primary {
    color: #fff;
    background-color: #0e4687;
}

.btn-default {
    color: #000;
    background-color: #fff;
}

    .btn-default:hover {
        color: #000;
        background-color: #c3c3c3;
    }

.noSpace .borderLess > input {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid #525252 !important;
    width: 100% !important;
    border-radius: 0 !important;
    text-indent: 10px;
    line-height: 1 !important;
}


.noSpace .borderLess > select {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid #525252 !important;
    width: 100% !important;
    border-radius: 0 !important;
    text-indent: 10px;
    line-height: 1 !important;
}

.noSpace .borderLess {
    margin: 0 !important;
    padding: 0 !important;
}


.flightData > tbody > tr > td {
    border: 1px solid #dadada;
}

.custom-panel-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.panel-default > .custom-panel-heading {
    color: #333333;
    background-color: #f0f8ff;
    border-color: #dddddd;
}

.form-group-in-table {
    width: 100% !important;
    margin: 0 !important;
}

/*.badge {
  padding: 7px 7px;*/




.cell-default-width {
    width: 120px;
}

.cell-width-180 {
    width: 180px;
}


.cell-width-200 {
    width: 200px;
}

.cell-width-50 {
    width: 50px;
}

.cell-width-100 {
    width: 100px;
}

.cell-width-150 {
    width: 150px;
}




.vertical-align-content {
    display: flex;
    align-items: center;
}


.table_without_padding tbody > tr > th,
.table_without_padding tbody > tr > td {
    padding: 0 !important;
}

.progress-steps {
    margin: 20px 0;
}


.buttonSection {
    text-align: center;
}

.startBtn {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}



.nextbtn {
    background: #56983b !important;
    color: #fff !important;
}

    .nextbtn:hover {
        background: #56773b !important;
    }

.skipbtn {
    background: #e5be27 !important;
    color: #000 !important;
}

.previousbtn {
    background: #56983b !important;
    color: #fff !important;
}


.skipbtn:hover {
    background: #bf9f24 !important;
}

.previousbtn:hover {
    background: #56773b !important;
}

.heighlight-inputField {
    color: #f71a1a;
    font-weight: 900;
}





/*===========================================================*/





.active-lang {
    background: #1e1e9a;
    color: #fff;
}

.btn-lang:hover {
    background: #fff;
}

.custom-List-group a.list-group-item, .custom-List-group a.list-group-item {
    font-weight: bold;
}

    .custom-List-group a.list-group-item:hover, .custom-List-group a.list-group-item:focus {
        color: #fff;
        background: #004D40;
    }


.home-menu-button {
    background: #004D40;
    margin-top: 40px;
    width: calc(100vw - 15px);
    margin-right: -15px;
    padding: 0;
    border-radius: 0;
}

    .home-menu-button > li > a {
        text-align: left;
        font-size: 15px;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid rgba(112, 113, 115, 0.25);
    }

        .home-menu-button > li > a > i {
            padding-right: 10px;
            font-size: 20px;
        }

    .home-menu-button .menu-hover a {
        background: none;
    }

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    text-align: right;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    text-align: right;
}


/*===================  Responsive Part ==========================================================================*/


@media (min-width: 1200px) {
    .sales-left-panel {
        width: 12%;
    }

    .sales-right-panel {
        width: 88%;
    }
}


@media (min-width: 992px) {
    .sales-left-panel {
        width: 14%;
    }

    .sales-right-panel {
        width: 86%;
    }
}

@media (min-width: 768px) {
    .sales-left-panel {
        width: 14%;
    }

    .sales-right-panel {
        width: 86%;
    }
}


/*=========== Quotation Summary UI =================*/




.quotation_summary .element {
    font-size: small;
}

.quotation_summary .table thead > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tfoot > tr > td {
    padding: 2px 5px;
}

.quotation_summary .table tbody > tr > th, .table tbody > tr > td {
    padding: 2px;
}

.grouplist-container {
    padding: 5px;
    background: #c4cef7;
    border: 1px solid #c4d2ff;
}

.groupView {
    min-height: 20px;
    padding: 5px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #b7ffd8;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.specView {
    min-height: 20px;
    padding: 5px;
    background: #fffcf6;
    border: 1px solid #fff0cf;
}

.add-group {
    padding: 2px 0;
}

.scheduleListTable {
    margin-bottom: 0;
}

.summary-heading {
    margin-bottom: 10px;
}

.right-align-in-table {
    margin: 0;
    float: right;
}

.add_shedule_btn {
    min-width: 50px;
    height: 20px;
    background: #b77118;
}

.add_shedule_btn {
    min-width: 50px;
    height: 20px;
    background: #16afac;
}

.group-total {
    text-align: right;
}

.block label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

.other-quotation_block {
    margin-top: 10px;
}



.quotation-collaps-panel {
}

    .quotation-collaps-panel .panel-heading {
        padding: 0;
    }

    .quotation-collaps-panel .panel-body {
        padding: 0;
    }

    .quotation-collaps-panel .panel-heading a {
        display: block;
        padding: 5px;
        color: #000;
    }

.otherQuotation_section {
    padding: 5px;
}

    .otherQuotation_section table {
        margin: 0;
    }


/*============ Nice Radio (Custom) ====================*/

.niceradio div {
    clear: both;
    display: inline-block;
}

.niceradio label {
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    text-transform: capitalize;
    font-weight: normal;
    padding-right: 10px;
    margin-bottom: 0px;
}

.niceradio input[type="radio"]:empty,
.niceradio input[type="checkbox"]:empty {
    display: none;
}

    .niceradio input[type="radio"]:empty ~ label,
    .niceradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 1.5em;
        text-indent: 3em;
        margin-top: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .niceradio input[type="radio"]:empty ~ label:before,
        .niceradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

.niceradio input[type="radio"]:hover:not(:checked) ~ label,
.niceradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .niceradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .niceradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

.niceradio input[type="radio"]:checked ~ label,
.niceradio input[type="checkbox"]:checked ~ label {
    color: #0c45bd;
    border: 1px solid #0c45bd;
}

    .niceradio input[type="radio"]:checked ~ label:before,
    .niceradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

    .niceradio.text-align-center input[type="radio"]:checked ~ label:before,
    .niceradio input[type="checkbox"]:checked ~ label:before {
        text-indent: 0em;
    }

.niceradio input[type="radio"]:focus ~ label:before,
.niceradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.niceradio-default input[type="radio"]:checked ~ label:before,
.niceradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.niceradio-primary input[type="radio"]:checked ~ label:before,
.niceradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.niceradio-success input[type="radio"]:checked ~ label:before,
.niceradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.niceradio-danger input[type="radio"]:checked ~ label:before,
.niceradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.niceradio-warning input[type="radio"]:checked ~ label:before,
.niceradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.niceradio-info input[type="radio"]:checked ~ label:before,
.niceradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #3861d9;
}


/*================ Quotation UI Styles =================*/

.quotation-collaps-panel .panel-body.module-section {
    padding: 0;
}

.singleModuleView {
    background: #e7ecec;
    margin-bottom: 10px;
    padding: 10px 10px;
}


.table.narrow-space-table thead > tr > th, .table.narrow-space-table tfoot > tr > th,
.table.narrow-space-table thead > tr > td, .table.narrow-space-table tfoot > tr > td {
    padding: 3px 10px;
}

.center-container {
    height: 150px;
}

.center-content {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}


    .center-content input[type="button"], .center-content a[role="button"] {
        width: 100%;
        margin-bottom: 10px;
    }

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 5px;
    }

.ts-sidebar {
    background: #004D40 !important;
}

.footer {

    background-color: #004D40 !important;

}

.md-bodr-right {
    border-right: 5px solid #004D40 !important;
}

.md-bodr-left {
    border-left: 5px solid #004D40 !important;
}

.md-bodr-top {
    border-top: 5px solid #004D40 !important;
}

.md-bodr-buttom {
    border-bottom: 5px solid #004D40 !important;
}



.login-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.login-box {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 350px;
}


